.product__images-item {
  max-width: fit-content;
  position: relative;
  cursor: pointer;
}

.product-image-container {
  .product-discount {
    background-color: #e97171;
  }
  .new-label {
    background-color: #2ec1ac;
  }
}
.product-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(58, 58, 58, 0.7);
  pointer-events: none;
  .user-controls {
    margin-top: 24px;
    gap: 20px;
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: white;
    p {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 2px;
    }
  }
  button {
    padding: 12px 52px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #b88e2f;
    cursor: pointer;
  }
}

.product__images-item:hover .product-overlay {
  opacity: 1;
}
.product__images-desc {
  padding: 16px 16px 30px 16px;
  background-color: #f4f5f7;
  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0px;
    line-height: 24px;
    text-transform: capitalize;
    color: #898989;
  }
  .discounted-price {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
  .actual-price {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: line-through;
    color: #b0b0b0;
    margin-left: 16px;
  }
}
.product__button {
  display: block;
  margin: 32px auto 0px auto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #b88e2f;
  border: solid 2px #b88e2f;
  cursor: pointer;
  padding: 12px 74px;
}
