@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./colors.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.btn {
  cursor: pointer;
}

.section {
  &--title {
    text-align: center;
  }
}
.container {
  max-width: 1240px;
  margin: auto;
  margin-top: 37px;
}

.primary-btn {
  padding: 12px 52px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  background-color: $primary;
  color: $primary-light;
  cursor: pointer;
  border: none;
}

img {
  object-fit: contain;
}
.label {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  padding: 12px 5px;
  border-radius: 100%;
}
